[defaults]
inventory = inventory.yml
stdout_callback = ansible.builtin.default
result_format = yaml
callbacks_enabled = ansible.builtin.log_plays
host_key_checking = False

[callback_log_plays]
log_folder = /tmp/ansible_logs
